.infocontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    background-color: #000000;
    height: 568px;
}

.sec1{
    padding: 36px 56px;
    width: 35%;

}
.sec1 h4{
    color:#ffffff;
    font-size: 15px;
}


.backbtn{
    margin-bottom: 20px;
}
.realeasedate{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.language{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec2{
width: 65%;
/* height: 10%; */
background-repeat: no-repeat;
opacity: 0.5;
background-size: cover;
}


.play{
position: relative;
top: 45%;
left: 50%;
width: 8%;
cursor: pointer;
}

