.buttons {
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
    background:rgb(1, 2, 15);
    border: 1px solid transparent;
}


.button{
padding: 0 10px;
color: #ffffff;
}
#prev{
   padding-right: 20px;
}

#next{
   
    margin-left: 2%;
}

#active{
   color: #fff263;
    text-decoration: underline;
}