.closebutton{
position: absolute;
right: 19%;
top: 111px;
background-color: red;
}

.modalCloseButton button{
    width: 100%;
    cursor: pointer;
    background-color: #ffffff;
}

.modalCloseButton button i{
    color: #000;
    height: 90%;
    cursor: pointer;
    width: 100%;
    z-index: 899;
}

.modal {
    position: absolute;
    top: 25%;
    left: 42%;
    z-index: 799;
    height: calc(100vh - 35%);
    max-width: 800px;
    margin: auto;
    margin-left: -300px;
    /* padding: 20px; */
    width: 100%;
}